[submodule "src/vi"]
	path = src/vi
	url = https://github.com/hyangvon/vi.git
[submodule "src/vi_2p"]
	path = src/vi_2p
	url = https://github.com/hyangvon/vi_2p.git
[submodule "src/w10_kinematics"]
	path = src/w10_kinematics
	url = ./src/w10_kinematics
